body{
    font-family: 'Roboto', sans-serif;
    width: 1200px;
    margin: auto;
    align-self: flex-end;
}

h2{

    color: #FF0101;
    font-size: 30px;  
    text-align: center; 
}

.img1{
    width: 300px;
}

.div1{
    background-color: #000000;
    width: 100%;
}

.div2{
    display: flex;
    font-size: 23px;
    text-align: left;
}

.div3{
    font-size: 23px;
}

.div4{
    background-color: #FF0101;
    width: 100%;
    color:rgb(255, 37, 81);
    font-size: 12px;
    text-align: center;
}

